[submodule "harness/langgraph"]
	path = harness/langgraph
	url = https://github.com/langchain-ai/langgraph.git
	shallow = true
[submodule "harness/pi"]
	path = harness/pi
	url = https://github.com/earendil-works/pi.git
	shallow = true
